/*Media Query */

@media screen and  (min-width: 1024px)
{
    .filtrDiv {
        width: 80%;
    }

    .hotelDiv img {
        width: 100%;
    }

    .hotelDiv {
        width: 30%;
        height: 200px;
    }


    .hebergSection {
        
        margin-left: 20px;
        margin-right: 20px;
    }

    .populaireDescription, h3{
        font-size: 15px;
    }

    .populaireHotel {
        margin: 10px 15px 25px 15px;
        padding: 5px;
    }

    .populaireHotel img {
        width: 130px;
        height: 130px;
        margin-right: 20px;
    }

    .descriptioHotel, strong{
        font-size: 13px;
    }

    .titreSection {
        font-size: 20px;
    }

    .populaireTitre, h2{
        font-size: 20px;
    }
   
}
  