@media screen and (min-width: 280px) and (max-width: 421px) {

	/* La partie navigation */

	.navBar {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;

	}

	.navList a {

		margin-right: 26px;
		padding-left: 29px;
		padding-right: 20px;
	}


	.navList {
		order: 2;
		flex: 100%;
		border-bottom: 3px solid #F2F2F2;
		justify-content: space-between;
		padding-bottom: 15px;
	}

	.logo {
		margin: 28px 0px 30px 20px;
	}

	.titreDiv {
		margin-left: 30px;
	}

	.titreDiv h2 {
		padding-top: 15px;
		font-size: 18px;
	}

	.navBar img {
		width: 100px;
		height: 45px;
	}

	.inscLien {
		font-weight: bold;
		color: #0065FC;
		margin-right: 30px;
		font-size: 19px;
	}

	.lienInscrire a:hover {
		padding: 20px 10px 0px 12px;
	}

	.lienInscrire a:focus {
		padding: 20px 10px 0px 12px;
	
	}

	/* La partie filtres */
	.filtrDiv {
		display: block;
		flex-wrap: wrap;
		width: 278px;
		margin-left: 10px;
	}

	.filtrDiv>* {
		flex: 1 1 160px;
		margin: 10px;
	}

	.espace {
		padding-right: 10px;
	}

	.filtreTexte {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}


	.filtrDiv .espaceAnim{
		width: 185px;
	} 

	.filtrDiv .espaceRom{
		width: 140px;
	} 



	/* La barre de recherche */
	.rechBar {

		margin-left: 10px;
	}

	/* La ligne Info */
	.infoDiv {
		margin-left: 10px;
	}

	.infoDiv p {
		padding-left: 5px;
		font-size: 13px;
	}


	/* La section Populaire */
	.populaireDiv {
		width: 100%;
		border-radius: 0px;
		padding-top: 20px;
	}

	.listHotel img {
		height: 130px;
		width: 100%;
	}

	.populaireHotel {
		margin: 13px;
		height: 150px;
	}

	.populaireTitre h2 {
		padding-right: 36%;
		font-size: 20px;
	}



	/* La partie hébergement */
	.hebergDiv {
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 100%;
		border-radius: 0px;
		margin: 0px;
		padding: 0px;
	}

	.listHotel {
		display: flex;
		flex-direction: column;
	}

	.titreSection {
		/*	margin: 15px 0px 15px 10px; */
		font-size: 22px;
	}

	.hotelDiv {
		height: 220px;
		border: 1px solid #F2F2F2;
		box-shadow: 0 0 3em #F2F2F2;
		background-color: white;
		line-height: 15px;
		padding: 5px;
		margin: 0px 10px 8px;
	}

	.descriptioHotel p {

		margin: 15px 0px 15px 0px;
	}

	/* La section hébergement */
	.hebergSection {
		display: flex;
		flex-direction: column-reverse;
		margin: 0px;
		width: 100%;
	}


	.descriptioHotel,
	strong {
		font-size: 16px;
	}

	/* La partie activité */
	.activiteDiv {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}

	.blocUneImage img {
		width: 100%;
		height: 150px;
	}

	.partOne img {
		width: 100%;
		height: 150px;
	}

	.partTwo img {
		width: 100%;
		height: 150px;
	}

	.blocUneImage,
	.blocDeuxImage .partOne,
	.blocDeuxImage .partTwo,
	.blocDeuxImage .partThree {
		width: 100%;

	}

	figure {
		margin: 0px;
	}

	figcaption {
		margin-bottom: 20px;
		text-align: left;
	}

	.partThree img {
		width: 100%;
		height: 150px;
	}

	.searchDiv {
		width: 210px;
	}


	.buttonDiv {

		width: 45px;
		border-radius: 10px;
	}

	.rechBar {
		margin-left: 35px;
		margin-top: 20px;
	}

	/*La partie footer*/
	footer {
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		margin: 0px;
		background-size: 100%;

	}

	.titreEnGras {
		font-size: 16px;

	}

	.buttonDiv {
		display: none;
	}

	.buttonDivResp {
		display: initial;
	}

	.navList a:hover {
		border-bottom: 3px solid #0065FC;
		border-top: none;
		padding-bottom: 15px;
		color: #0065FC;
	}

	.navList a:focus {
		border-bottom: 3px solid #0065FC;
		border-top: none;
		padding-bottom: 15px;
		color: #0065FC;
	}

}

@media screen and (max-width: 375px) {


	.navList {
		padding-bottom: 15px;
	}

	.searchDiv {
		width: 190px;
	}

	.buttonDiv {
		width: 45px;
		border-radius: 10px;
	}

	.rechBar {
		margin-left: 30px;
		margin-top: 30px;
	}

	.populaireHotel img {
		width: 120px;
		height: 130px;
		margin-right: 15px;
	}

	.populaireDescription,
	h3 {
		font-size: 10px;
		margin-bottom: 0px;
	}

	.populaireDescription,
	p {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.populaireHotel {
		height: 130px;
	}

	.navList a {
		margin-right: 19px;
		padding-left: 20px;
		padding-right: 20px;
	}


	.filtrDiv .espaceAnim{
		width: 185px;
	} 

	.filtrDiv .espaceRom{
		width: 140px;
	} 

}


@media screen and (max-width: 338px) {

	.populaireHotel img {
		width: 120px;
		height: 130px;
		margin-right: 15px;
	}

	.populaireDescription,
	h3 {
		font-size: 16px;
		margin-bottom: 0px;
	}

	.populaireDescription,
	p {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.populaireHotel {
		height: 130px;
	}

	.populaireTitre h2 {
		padding-right: 32%;
	}

	.titreSection {
		margin: 15px 0px 15px 0px;
		font-size: 20px;
	}

	.titreDiv {
		padding-left: 0px;
		font-size: 20px;
		margin-left: 20px;
	}

	.searchDiv {
		width: 155px;
	}

	.buttonDiv {

		width: 45px;
		border-radius: 10px;
	}

	.rechBar {
		margin-left: 35px;
	}

	.filtrDiv {
		width: 65%;
	}

	.navList a {
		margin-right: 4px;
		padding-left: 16px;
		padding-right: 9px;
	}

	.filtreTexte{
		font-size: 15px;
	}
}

@media screen and (min-width: 421px) and (max-width: 426px) {
	.buttonDiv {
		display: none;
	}

	.buttonDivResp {
		display: initial;
	}

	.searchDiv {

		width: 245px;

	}
}