/*Media Query */
@media all and (min-width: 320px) and (max-width: 425px) {
    footer {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        margin: 0px;
    }

    .activiteDiv {
        display: block;
        margin: 0px 10px 0px 10px;
    }

    .activiteDiv img {
        width: 100%;
        height: 210px;
        
    }

    .blocUneImage,
    .blocDeuxImage,
    .partOne,
    .partTwo,
    .partThree {
        width: 90%;
    }


    .listHotel {
        display: flex;
        flex-direction: column;
      

    }

    .hotelDiv {
        width: 80%;
        height: 250px;
        margin-bottom: 8px;
        box-shadow: 3px 3px 3px #F2F2F2;
    }

    .hotelDiv img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .hebergSection {
        display: flex;
        /* pour afficher en colonne inverser */
        flex-direction: column-reverse;
    }

    .filtrDiv {
        display: flex;
        width: 50%;
        margin-left: 20px;
    }

    .filtreTexte {
        margin-bottom: 10px;
    }

    .logo {
        width: 90px;
        margin: 0px 0px 0px 20px;
        float: left;
    }

    .navList{
        display: flex;
        flex-direction: column;

        position: relative;
        top: 35px; 

    }
    
    .inscLien {
        order: -1;
        flex: 1 0 100%;
        margin-left: 50px;
        padding-bottom: 20px;
        align-items: center;
        padding-top: 20px;
    }

    .titreDiv {
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .rechBar {
        margin-left: 20px;
    }

    .filtrDiv {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 20px;
    }

    .hebergSection {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* La section Populaire */
    .populaireDiv {
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 0px;
        padding-top: 0px;
    }

    .populaireTitre h2 {
        font-size: 25px;
    }

    .titreSection {
        margin-left: 20px;
        margin-top: 20px;
    }

    .hebergDiv {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        border-radius: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }

    .hebergSection {
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    .infoDiv {
        margin-left: 20px;
    }


    .populaireHotel {
        width: 80%;
    }


    .populaireHotel img {
        width: 100px;
        height: 165px;
    }

    .star {
        padding-top: 8px;
    }

    .populaireHotel {

        margin: 10px 25px 18px 25px;
        padding: 5px;
    }

    .populaireDescription,
    h3 {
        font-size: 20px;
    }

}