@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hebergSection {
        display: flex;
        /* pour afficher en colonne inverser */
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hebergSection {
        display: flex;
        /* pour afficher en colonne inverser */
        flex-direction: column-reverse;
    }
}

